$font_color: #82cdaf;


html { overflow-y:scroll; font-size:62.5%; }

body {
   font-size:100%;
   font-family: "MetaWebPro-Normal", Arial, Verdana;
   text-align:left;
   color:$font_color;
   letter-spacing:0;
   //background: url(../img/structure/main.jpg) no-repeat center top;
}

html,body {
	/*font-family: 'primeregular';*/
	width: 100%;
	min-height: 100%;
}

body, div, a, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img, label, input, select, blockquote, fieldset, legend, form { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video, picture { display:block; }

h1, h2, h3 {
  font-family: "MetaWebPro-Thin", Arial, Verdana;
  color: #82cdae;
  font-weight: normal;
}

h2 {
  font-size: 150px;
  font-size: 15rem;
  line-height: 135px;
  line-height: 13.5rem;
  letter-spacing: -1rem;
}

h3 {
  font-size: 50px;
  font-size: 5rem;
  line-height: 55px;
  line-height: 5.5rem;
}

a { text-decoration: none; }

a img { border:0; }

img {
    border:none;
    max-width:100%; /* commented because it causes issues with IE */
    display:block;
}

p {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 25px;
	line-height: 2.5rem;
  color: #649e88;
}

ul, ol {
  li {
    margin:0;
    padding:0;
    list-style-type: none;
  }
}

.cf { zoom:1; }
.cf:before,
.cf:after { content:""; display:table; }
.cf:after { clear:both; }