$slides: 16;

#wrapper, #scroller {
	width: 1248px;
	height: 100%;
	margin: 0 auto;
}

.toggle-grid {
	position: fixed;
	top: 433px;
	left: 11px;
	z-index: 1;
}

.grid {
	background: url(../img/structure/main-grid.png) no-repeat center 68px;
}

#nav {

	.navigation {
		position: fixed;

		padding: 20px;
		right: 190px;
		top: 100px;
		opacity: 1;
		z-index: 1;
		filter: alpha(opacity=100);
		-webkit-transition: opacity .2s ease-in-out;
		-moz-transition: opacity .2s ease-in-out;
		-o-transition: opacity .2s ease-in-out;
		-ms-transition: opacity .2s ease-in-out;
		transition: opacity .2s ease-in-out;

		li {
			width: 10px;
			height: 10px;
			border-radius: 5px;
			margin: 0 auto;
			position: relative;
			margin-bottom: 25px;
			color: #000;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			-ms-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;


			&:hover, &.active {
				background-color: #fff !important;
				cursor: pointer;
			}
		}
	}

	&.nav-slide-1 {
		li { color: #fff; }
	}
}

.wrapper-menu {
	background-color: #fff;

	ul {
		margin: 0 0 0 15px;
		li {
			float: left;
			padding: 0 37px 0 0;
			a {
				font-family: "MetaWebPro-Thin";
				display: inline-block;
				padding-top: 24px;
				font-size: 22px;
				font-size: 2.2rem;
				color: #7f7f7f;
				text-transform: uppercase;
				border-top: 5px solid #fff;

				&:hover, &:focus, &:active, &.current {
					border-top: 5px solid #000;
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
}

.hidden-content {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.fade-in {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.fade {
	opacity: 0.4;
	filter: alpha(opacity=40);
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.plus {
	position: absolute;
	width: 41px;
	height: 41px;
	overflow: hidden;
	text-indent: -9999px;
	@include icons-sprite(icon_plus);

	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}

.skewed-copy {
	position: absolute;
	width: 375px;
	background: #fff;
	background: rgba(255,255,255,0.9);
	border: 1px solid #d6ffec;
	-webkit-transform: skewX(-8deg);
  -moz-transform: skewX(-8deg);
  -o-transform: skewX(-8deg);
  transform: skewX(-8deg);

  p {
  	width: 340px;
  	padding: 15px 0 15px 25px;
  	-webkit-transform: skewX(8deg);
	  -moz-transform: skewX(8deg);
	  -o-transform: skewX(8deg);
	  transform: skewX(8deg);
  }
}

.slide {
	width: 100%;
	height: 700px;
	position: relative;
	overflow: hidden;

	&.active {
		.content {
			opacity: 1;
			filter: alpha(opacity=100);
		}
	}

	.content, .lasers {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 700px;
		margin: 0 auto;
	}

	.content {
		opacity: 0.1;
		-webkit-transition: opacity .4s ease-in-out;
		-moz-transition: opacity .4s ease-in-out;
		-o-transition: opacity .4s ease-in-out;
		-ms-transition: opacity .4s ease-in-out;
		transition: opacity .4s ease-in-out;
	}
}

@for $i from 1 through $slides {
	#slide#{$i} {
		.lasers { background: url(../img/structure/slide#{$i}-lines.png) no-repeat left top transparent; }
	}
}

#slide1 {
	height: 768px;
	@include gradient;

	.content {

		.logo {
			position: absolute;
			top: 195px;
			left: 635px;
			width: 113px;
			height: 160px;
			@include icons-sprite(slide1-logo-rufus);
		}

		.copy {
			position: absolute;
			top: 395px;
			left: 635px;
			width: 490px;

			p {
				color: #fff;
			}
		}
	}
}

#slide2 {
	.content {

		.neil {
			position: absolute;
			top: 120px;
			left: 325px;
			width: 119px;
			height: 119px;
			@include icons-sprite(slide2-image-neil);
		}

		.darrel {
			position: absolute;
			top: 280px;
			left: 915px;
			width: 119px;
			height: 119px;
			@include icons-sprite(slide2-image-darrel);
		}

		.plus {
			top: 513px;
			left: 755px;
		}

		.skewed-copy {
			top: 490px;
			left: 790px;
		}

		h2 {
			position: absolute;
			top: 500px
		}

		h3 {
			position: absolute;
			top: 620px;
			left: 16px;
		}
	}
}

#slide3 {
	.content {
		h2 {
			position: absolute;
			top: 477px;
			left: 815px;
		}

		.plus {
			&.one {
				left: 95px;
				top: 405px;
			}

			&.two {
				top: 235px;
				left: 733px;
			}
		}

		.pru-logo {
			position: absolute;
			top: 255px;
			left: 147px;
			width: 155px;
			height: 162px;
			@include icons-sprite(slide3-image-pru);
		}

		.lpo-logo {
			position: absolute;
			top: 236px;
			left: 784px;
			width: 284px;
			height: 29px;
			@include icons-sprite(slide3-image-lpo);
		}

		.copy {
			position: absolute;

			&#pru {
				top: 318px;
				left: 360px;
				width: 368px;
			}

			&#lpo {
				top: 278px;
				left: 784px;
				width: 275px;
			}
		}
	}
}

#slide4 {

	.content {

		h2 {
			position: absolute;
			top: 367px;
			left: 861px;
		}

		h3 {
			position: absolute;
			width: 315px;
			top: 200px;
			left: 820px;
			font-size: 24px;
			font-size: 2.4rem;
			line-height: 30px;
			line-height: 3.0rem;
			font-family: "MetaWebPro-Normal";
		}

		.plus {
			z-index: 2;

			&.one {
				top: 405px;
				left: 308px;
			}

			&.two {
				top: 307px;
				left: 628px;
			}
		}

		.logos {
			position: absolute;
			top: 346px;
			left: 376px;
			width: 203px;
			height: 177px;
			@include icons-sprite(slide4-image-logos);
		}

		.shell-logo {
			position: absolute;
			top: 186px;
			left: 724px;
			width: 74px;
			height: 76px;
			@include icons-sprite(slide4-image-shell);
		}

		.skewed-copy {
			width: 355px;

			p {
				font-family: "MetaWebPro-Light";
				color: #82cdae;
			}

			&#logos {
				top: 426px;
				left: 317px;

				p {
					width: 335px;
				}
			}

			&#shell {
				top: 272px;
				left: 805px;

				p {
					width: 305px;
				}
			}
		}
	}
}

#slide5 {

	.content {

		h2 {
			position: absolute;
			top: 335px;
			left: 145px;
		}

		h3 {
			position: absolute;
			width: 282px;
			top: 140px;
			left: 857px;
			font-size: 18px;
			font-size: 1.8rem;
			line-height: 25px;
			line-height: 2.5rem;
			font-family: "MetaWebPro-Bold";
		}

		.plus {
			&.one {
				top: 59px;
				left: 1043px;
				z-index: 2;
			}
		}

		.bt {
			position: absolute;
			top: 62px;
			left: 1000px;
			width: 74px;
			height: 76px;
			@include icons-sprite(slide5-image-logo);
		}

	}
}

#slide6 {
	@include gradient;

	h2 {
		position: absolute;
		left: 0;
		top: 90px;
		color: #fff;
	}

	.royal-mail {
		position: absolute;
		top: 290px;
		left: 20px;
		width: 195px;
		height: 38px;
		@include icons-sprite(slide6-image-royalmail);
	}

	.yp {
		position: absolute;
		top: 275px;
		left: 425px;
		width: 63px;
		height: 49px;
		@include icons-sprite(slide6-image-yp);
	}

	.db {
		position: absolute;
		top: 273px;
		left: 840px;
		width: 50px;
		height: 50px;
		@include icons-sprite(slide6-image-db);
	}

	.copy {
		position: absolute;
		width: 310px;

		p {
			color: #fff;
		}

		&.one {
			top: 350px;
			left: 18px;
		}

		&.two {
			top: 350px;
			left: 425px;
		}

		&.three {
			top: 350px;
			left: 840px;
			width: 315px;
		}
	}
}

#slide7 {

	.content {
		h2 {
			position: absolute;
			top: 330px;
			left: 795px;

		}

		h3 {
			position: absolute;
			width: 320px;
			top: 116px;
			left: 320px;
			font-family: "MetaWebPro-Light";
		}

		.lloyds {
			position: absolute;
			top: 174px;
			left: 134px;
			width: 169px;
			height: 125px;
			@include icons-sprite(slide7-image-lloyds);
		}

		.plus {

			&.one {
				top: 270px;
				left: 286px;
				z-index: 2;
			}
		}

		.skewed-copy {

			&#lloyds {
				top: 290px;
				left: 297px;
				width: 360px;

				p {
					width: 330px;
				}
			}
		}
	}
}

#slide8 {

	.content {

		h2 {
			position: absolute;
			top: 220px;
			left: 114px;

		}

		h3 {
			font-size: 18px;
			font-size: 1.8rem;
			line-height: 25px;
			line-height: 2.5rem;
			font-family: "MetaWebPro-Bold";
		}

		.smart {
			position: absolute;
			top: 245px;
			left: 664px;
			width: 97px;
			height: 90px;
			@include icons-sprite(slide8-image-smart);
		}

		.plus {

			&.one {
				top: 299px;
				left: 657px;
			}
		}

		.copy {
			position: absolute;
			top: 340px;
			left: 640px;
			width: 247px
		}
	}
}

#slide9 {

	.content {

		h2 {
			position: absolute;
			top: 400px;
			left: 92px;
			z-index: 1;
		}

		h3 {
			position: absolute;
			top: 532px;
			left: 101px;
			text-transform: uppercase;
			z-index: 1;
		}

		.bt-logo {
			position: absolute;
			top: 240px;
			left: 44px;
			width: 187px;
			height: 338px;
			@include icons-sprite(slide9-bt-logo);
		}

		.bt-image {
			position: absolute;
			top: 0;
			left: 327px;
			width: 730px;
			height: 686px;
			@include icons-sprite(slide9-image-bt);
		}

		.plus {

			&.one {
				left: 670px;
				top: 548px;
				z-index: 2;
			}
		}

		.skewed-copy {
			top: 386px;
			left: 704px;
			width: 360px;

			p {
				width: 325px;
			}
		}
	}
}

#slide10 {
	.content {

		h2 {
			position: absolute;
			left: 749px;
			top: 290px;
		}

		h3 {
			position: absolute;
			width: 315px;
			top: 420px;
			left: 762px;
			font-size: 24px;
			font-size: 2.4rem;
			line-height: 30px;
			line-height: 3.0rem;
			text-transform: uppercase;
		}

		.plus {

			&.one {
				left: 380px;
				top: 250px;
			}
		}

		.skewed-copy {
			top: 111px;
			left: 28px;

			p {
				width: 325px;
			}
		}
	}
}

#slide11 {

	.content {

		h2 {
			position: absolute;
			top: 510px;
			left: 32px;
		}

		h3 {
			position: absolute;
			top: 233px;
			left: 756px;
			width: 300px;
		}

		.bg-image {
			position: absolute;
			top: 74px;
			left: 121px;
			width: 622px;
			height: 454px;
			@include icons-sprite(slide11-image-bg);
		}

		.plus {

			&.one {
				left: 720px;
				top: 410px;
				z-index: 2;
			}
		}

		.skewed-copy {
			top: 431px;
			left: 318px;
			width: 400px;

			p {
				width: 335px;
			}
		}

	}
}

#slide12 {

	h2 {
			position: absolute;
			top: 300px;
			left: 108px;
		}

		h3 {
			position: absolute;
			top: 430px;
			left: 119px;
		}

		.o2-image {
			position: absolute;
			top: 0;
			left: 628px;
			width: 502px;
			height: 705px;
			@include icons-sprite(slide12-image-o2);
		}

		.plus {

			&.one {
				top: 183px;
				left: 578px;
				z-index: 3;
			}
		}

		.skewed-copy {
			top: 56px;
			left: 606px;
			width: 370px;
			z-index: 2;

			p {
				width: 320px;
			}
		}
}

#slide14 {
	@include gradient;
}

#slide15 {
}

#slide16 {
}

/******************************
PARALLAX OBJECTS
*******************************/
.wrapper {
	width: 1300px;
	height: 150%;
	overflow: visible;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	text-align: center;
	margin-left: -650px;
}

.letter {
	position: relative;
	background-position: center !important;
	display: inline-block !important;
}

#letter-a {
	width: 120px;
	height: 130px;
	background: url(../img/structure/letter_a.png) no-repeat;
	left: 120px;
	-webkit-background-size: 120px 130px;
	-moz-background-size: 120px 130px;
	background-size: 120px 130px;
	right:425px;
	left:0 !important;
}

#letter-b {
	width: 58px;
	height: 98px;
	background: url(../img/structure/letter_b.png) no-repeat;
	-webkit-background-size: 58px 90px;
	-moz-background-size: 58px 90px;
	background-size: 58px 90px;
	left: 100px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	right:335px;
	left:0 !important;
}

#letter-c {
	width: 130px;
	height: 177px;
	background: url(../img/structure/letter_c.png) no-repeat;
	-webkit-background-size: 130px 177px;
	-moz-background-size: 130px 177px;
	background-size: 130px 177px;
	left: 305px;
}

.circle {
	margin: 0 auto;
	position: relative;
	background-position: center !important;
	display: inline-block !important;
}

.yellow {
	background-color: #ffee00;
}

.black {
	background-color: #1a1a1a;
}

.small {
	width:60px;
	height:60px;
	border-radius:30px;
}

.medium {
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.large {
	width: 240px;
	height: 240px;
	border-radius: 120px;
}

/* MOBILE */

.mobile {
	body {
	  overflow: hidden;
	}

	#wrapper {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	}

	#scroller {
	  height: 3000px;
	}

	.hidden-content {
		opacity: 1;
		display: none;
	}
}